body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding: 20px;
    color: #333;
}

.wrapper {
    box-shadow: 0 0 10px #bbb;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 50%;
}

.input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaa;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.pass-indicator {
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pass-length, .pass-settings {
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}